/* Removing default padding and margin settings that some browsers apply */
html {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

body {
    background-color: #ebf2f7;
    font-family: 'Lato', sans-serif;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

h1 {
    font-size: 50px;
    text-align: center;
    color: #212121;
}

.title {
    width: auto;
}

.todo_list {
    width: 550px;
    margin: auto;
    background-color: #f2f2f2;
    box-shadow: 1px 3px 10px darkgray;
    transition-duration: 0.5s;
}

/* Div wrappers for the title and entry sections */

.title_wrapper {
    color: #212121;
    box-sizing: border-box;
    width: 100%;
    background: #f2f2f2;
    border-bottom-style: double;
    border-bottom-color: darkgrey;
    border-bottom-width: 5px;
    display: flex;
}

.entry_wrapper {
    color: #212121;
    box-sizing: border-box;
    width: 100%;
    background: #f2f2f2;
    border-bottom-style: solid;
    border-bottom-color: darkgrey;
    border-bottom-width: 2px;
    display: flex;
}

.title_wrapper:focus,
.entry_wrapper:focus {
    transition-duration: 0.5s;
    background: #c9c9c9;
}

.title_wrapper:hover,
.entry_wrapper:hover {
    background: #dbdbdb;
    transition-duration: 0.5s;
}

/* Actual entry fields for the input fields */

.list_title {
    padding: 10px 10px 10px 10px;
    width: 100%;
    height: 100%;
    font-size: 30px;
    /* To prevent default focus styling */
    border-style: none;
    background: none;
}


.list_entry,
.list_item {
    padding: 10px 10px 10px 10px;
    width: 100%;
    height: 100%;
    font-size: 23px;
    /* To prevent default focus styling */
    border-style: none;
    background: none;
}

.list_strike {
    padding: 10px 10px 10px 10px;
    width: 100%;
    height: 100%;
    font-size: 23px;
    /* To prevent default focus styling */
    border-style: none;
    background: none;
}

/* Removing the blue border from text imput fields */
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

/* Button styling */
.clear_btn_title,
.clear_btn_entry,
.clear_btn {
    padding: 0px 15px;
    font-weight: 100;
    font-size: 30px;
    color: darkgrey;
    border: none;
    background: none;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    transition-duration: 0.1s;
}

.clear_btn_title,
.clear_btn_entry {
    display: none;
}

/* Button styling for hover or clear */
.clear_btn_title:focus,
.clear_btn_entry:focus,
.clear_btn:focus,
.clear_btn_title:hover,
.clear_btn_entry:hover,
.clear_btn:hover {
    transition-duration: 0.5s;
    font-weight: 300;
    color: red;
}

/* Checkbox styling */

.checkbox>input {
    margin-top: 10px;
    margin-left: 10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #34495E;
    transition-duration: 0.5s;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.checkbox>input:checked {
    border: 2px solid #41B883;
    background: #41B883;
}

.checkbox>input:checked+.list_item {
    text-decoration: line-through;
}

.checkbox>input:hover {
    border: 2px solid #41B883;
    transition-duration: 0.5s;
}

.checkbox>input:focus {
    border: 2px solid #41B883;
    transition-duration: 0.5s;
}

/* Shrink or increase list size in order to fit on smaller or larger screens */

@media screen and (max-width: 600px) {
    .todo_list {
        width: 450px;
        transition-duration: 0.5s;
    }
}

@media screen and (min-width: 900px) {
    .todo_list {
        width: 70%;
        transition-duration: 0.5s;
    }
}